sudo: required
dist: trusty
language: rust
rust:
    - nightly-2016-03-07
cache:
    directories:
        - $HOME/.cargo
        - node_modules
        - $TRAVIS_BUILD_DIR/target

# $BOX_HOST_NAME and $BOX_PORT are also used by Selenium tests.
env:
  - BOX_LOCAL_NAME=foxbox BOX_PORT=3000

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y avahi-daemon libavahi-client-dev libavahi-common-dev libavahi-common3 libdbus-1-dev libupnp-dev libespeak-dev
  - sudo usermod -a -G netdev $USER # "netdev" group membership allows to set custom host name via avahi-daemon.
  - sudo apt-get install -y libcurl4-openssl-dev libelf-dev libdw-dev # kcov's dependencies
  - curl -s https://pagekite.net/pk/ |sudo bash # install PageKite

before_script:
    - "sh -e /etc/init.d/xvfb start"
    - "export DISPLAY=:99.0"
    - "wget http://selenium-release.storage.googleapis.com/2.50/selenium-server-standalone-2.50.1.jar"
    - "java -jar selenium-server-standalone-2.50.1.jar > /dev/null &"
    - sleep 5
    - nvm install 4.2
    - nvm use 4.2
    - npm install

script:
    - cargo build # Linter is also executed here
    - $TRAVIS_BUILD_DIR/tools/execute-unit-tests-with-coverage
    - jshint static/main/js/*.js static/setup/js/*.js test/selenium/*.js test/integration/lib/*.js test/integration/test/*.js
    - npm run test-integration
    - npm run test-selenium
