sudo: required

env:
  global:
    # $BOX_HOST_NAME and $BOX_PORT are also used by Selenium tests.
    - BOX_LOCAL_NAME=foxbox BOX_PORT=3000

os:
  - osx
  - linux

dist: trusty

language: rust
rust:
  - nightly-2016-04-10
  - nightly

cache: cargo

matrix:
  fast_finish: true
  allow_failures:
    - rust: nightly
  include:
    - sudo: required
      os: linux
      rust: nightly-2016-04-10
      env: BUILD_ENV=-arm_cross_compile

addons:
  firefox: latest
  apt:
    packages:
      - libupnp-dev
      - libespeak-dev
      - libudev-dev
      # kcov
      - libcurl4-openssl-dev
      - libelf-dev
      - libdw-dev

before_install: source $TRAVIS_BUILD_DIR/tools/travis-$TRAVIS_OS_NAME$BUILD_ENV.sh
install: install_dependencies

before_script: set_up_tests
script:
  - build
  - lint
  - run_tests
