sudo: required

os:
# Disabling OS X because of link failures with sqlite.
#  - osx
  - linux

dist: trusty

language: rust
rust:
  # Make sure to also update the nightly version for the arm_cross_compile branch of the matrix.
  - nightly-2016-10-11
  - nightly

matrix:
  fast_finish: true
  allow_failures:
    - rust: nightly
  include:
    - os: linux
      rust: nightly-2016-10-11
      env: BUILD_ENV=-arm_cross_compile
    - os: linux
      rust: nightly
      env: BUILD_ENV=-cargo_update

addons:
  firefox: latest
  apt:
    packages:
      - libupnp-dev
      - libespeak-dev
      - libudev-dev
      # kcov
      - libcurl4-openssl-dev
      - libelf-dev
      - libdw-dev

before_install: source $TRAVIS_BUILD_DIR/tools/travis-$TRAVIS_OS_NAME$BUILD_ENV.sh
install: install_dependencies

before_script: set_up_tests
script:
  - build
  - lint
  - run_tests
