[package]
name = "foxbox"
version = "0.1.0"
authors = ["fabrice <fabrice@desre.org>"]
build = "build.rs"

[features]
default = ["authentication"]
authentication = []

[dependencies]
chrono = "0.2.19"
clippy = "0.0.48"
docopt = "0.6.78"
docopt_macros = "0.6.80"
env_logger = "0.3.2"
foxbox_adapters = { git = "https://github.com/fxbox/adapters.git", rev = "40c3327" }
foxbox_taxonomy = { git = "https://github.com/fxbox/taxonomy.git", rev = "cb77821" }
foxbox_users = { git = "https://github.com/fxbox/users.git", rev = "8b82110" }
get_if_addrs = "0.3.1"
hyper = "0.7.2"
multicast_dns = { git = "https://github.com/fxbox/multicast-dns.git", rev = "a6e4bcc" }
iron = "0.2.6"
libc = "0.2.7"
log = "0.3"
mio = { git = "https://github.com/carllerche/mio.git" }
mount = "0.0.10"
nix = { git = "https://github.com/nix-rust/nix.git", rev = "138080" } # Until 0.5.1 is released
router = "0.1.0"
rust-crypto = "0.2.34"
rustc-serialize = "0.3"
serde = "0.6.13"
serde_json = "0.6.0"
serde_macros = "0.6.14"
staticfile = "0.1.0"
transformable_channels = "^0.1"
unicase = "1.3.0"
time = "0.1"
timer = "0.1.6"
uuid = "0.1.18"
url = "0.5.5"
ws = { git = "https://github.com/housleyjk/ws-rs.git", rev = "d154fc5" }
xml-rs = "0.3.0"

[dev-dependencies]
stainless = "0.1.4"
iron-test = "0.2.0"
regex = "0.1.55"
