@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Fira Sans Light'), local('Fira-Sans-Light'), url('FiraSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Fira Sans Light Italic'), local('Fira-Sans-Light-Italic'), url('FiraSans-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Regular'), local('Fira-Sans-Regular'), url('FiraSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Sans Bold'), local('Fira-Sans-Bold'), url('FiraSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Fira Sans Italic'), local('Fira-Sans-Italic'), url('FiraSans-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Fira Sans Bold Italic'), local('Fira-Sans-BoldItalic'), url('FiraSans-BoldItalic.woff') format('woff');
}
