

/** General styles **/
html {
  height: 100%;
  font: normal 10px/10px Arial;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  font: normal 2.2rem/4.4rem "Fira Sans", Arial;
  font-weight: 300;
  position: relative;
  overflow-y: auto;
}

input {
  font: normal 2.2rem/4.4rem "Fira Sans", Arial;
  font-weight: 300;
  background: #f2f2f2;
  border: 0;
  border-radius: .3rem;
  outline: 0;
  width: 100%;
  margin: 0 0 1rem;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1.5rem;
}

button {
  font: normal 2.2rem/4.4rem "Fira Sans", Arial;
  font-weight: 300;
  background: #0ca8a4;
  margin: 0 1rem;
  border: none;
  border-radius: .3rem;
  color: white;
}

select {
  border: 0;
  padding: 1rem;
  border-radius: 0.3rem;
  width: 100%;
  outline: medium none;
  margin: 0.5rem 0;
  font: normal 2.2rem/4.4rem "Fira Sans", Arial;
  font-weight: 300;
  background: #f2f2f2;
}

textarea {
  background: #000;
  border: none;
  border-radius: 0.3rem;
  color: #ccc;
  display: block;
  padding: 0.5rem;
  width: 100%;
  min-height: 10rem;
  height: auto;
  font-size: small;
  overflow: hidden;
  resize: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

label {
  padding: 0.5 rem;
}

.container {
  position: relative;
  width: 70%;
  margin: auto;
  padding: 10% 0 0;
}

.inner-container {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

@media all and (max-width: 321px) {

  body {
    font: normal 1.8rem/2.4rem "Fira Sans", Arial;
    font-weight: 300;
  }

  .inner-container {
    padding: 20px;
  }

  .signup-container {
    padding: 2% 0 0;
  }

  input {
    margin-top: 2rem;
  }

}
